<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>jerotoma</display-name>
  <welcome-file-list>
    <welcome-file>/WEB-INF/views/signup.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>servlet-home</servlet-name>
    <servlet-class>com.jerotoma.XMLServletHomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet-home</servlet-name>
    <url-pattern>/servlethome</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LogFilter</filter-name>
    <filter-class>com.jerotoma.filters.LogFilter</filter-class>
    <init-param>
      <param-name>test-param</param-name>
      <param-value>Initialization Paramter</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>  
</web-app>